<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="AutoSave" value="2" />
    <add key="FilePath" value="" />
    <add key="ExitOnClose" value="true" />
    <add key="LogPath" value="C:\Applications\" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
